svg {
    stroke:rgb(224, 29, 29);
    stroke-width: 3px;
    stroke-dasharray: 6000;
    animation: draw 8s ease-in;
}

@keyframes draw {
    from {
        stroke-dashoffset: 6000;
    }
    to {
        stroke-dashoffset: 0;
    }
    
}

.thinker {
    animation: thinkerAnim 800ms linear;
}

@keyframes thinkerAnim {
    0% {
        transform: translateX(-1.5px);
        opacity: 0;
    }
    50% {
        transform: translateX(-0.12px);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}